apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-website
  namespace: test-website
spec:
  replicas: 2
  selector:
    matchLabels:
      app: test-website
  template:
    metadata:
      labels:
        app: test-website
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: test-website
          image: ghcr.io/vikasrajput0112/my-react-website:build-39
          imagePullPolicy: Always
          ports:
            - containerPort: 80
